<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>従業員一覧</title>
</head>
<body>
    <h1>Employee 削除</h1>
    <p>削除するのコードを指定してください。</p>
    <form action="#" method="post" th:action="@{/employee/delete}">
        <table th:object="${employee}">
            <tr><th>コード</th><td><input name="code" th:value="${code}" ></td></tr>
        </table>
        <button type="submit">送信</button>
        <a th:href="@{'/employee/list'}">一覧に戻る</a>
    </form>
</body>
</html>