<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>従業員情報編集</title>
</head>
<body>
   <h1>id:<span th:text="${employee.id}"></span>の従業員情報 編集ページ</h1>
    <p>(パスワードは変更する場合のみ入力してください)</p>

  <!-- 社員番号確認用テキスト -->
  <p>社員番号: <span th:text="${employee.id}"></span></p>

  <!-- 氏名入力用テキストボックス -->
  <p>氏名: <input type="text" th:value="${employee.name}"/></p>

  <!-- パスワード入力用テキストボックス -->
  <p>パスワード: <input type="password" th:value="${employee.authentication.password}"/></p>

  <!-- 権限指定用ドロップダウンメニュー -->
  <p>権限:
    <select name="role" th:selected="${employee.authentication.role}">
      <option value="1">管理者</option>
      <option value="2">一般ユーザー</option>
    </select>
  </p>

  <!-- 「投稿」ボタン -->
  <form th:action="@{/employee/{id}/updateEmployee(id=${employee.id})}" method="post">
    <input type="hidden" name="_method" value="put" />
    <button type="submit">投稿</button>
  </form>

  <!-- 「この従業員情報を削除する」リンク -->
  <p>
    <a th:href="@{/employee/{id}(id=${employee.id})}">この従業員情報を削除する</a>
  </p>

  <!-- 「一覧に戻る」リンク -->
  <p>
    <a th:href="@{/employee/list}">一覧に戻る</a>
  </p>
</body>
</html>